/* styles.css */

/* 全局樣式設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #1E1E1E;
    color: white;
}

main {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-bg {
    background-image: url('780.jpeg'); /* 使用相對路徑 */
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center; /* 新增文字置中 */
    color: black; /* 將顏色改為黑色 */
}

p {
    font-size: 16px;
    color: #080808; /* 修改文字顏色為深灰色 */
    text-align: center; /* 將段落文字置中 */
}

a {
    color: #03DAC5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 將經歷區域的背景顏色改為綠色 */
section:nth-child(2) {
    background-color: #b9deb9; /* 使用綠色 */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #23e45d;
    color: white;
    border-radius: 0 0 5px 5px;
}
.center-img {
    display: block;
    margin: 0 auto;
}